* {
	margin: 0;
	padding: 0;
	font-family: "sans-serif";
	box-sizing: border-box;
	/*display: -webkit-inline-box;*/
}


#navigation_bar {
	background: #4FA06A;
	height: 120px;
}

#navigation_bar ul#navigation_bar_ul {
	list-style-type: none;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
}


#navigation_bar ul#navigation_bar_ul li {
	flex: 1;
}

#navigation_bar ul#navigation_bar_ul li a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 29px;
	position: relative;
	font-size: 55px;

}





#navigation_bar ul#navigation_bar_ul li:nth-child(4){
	text-align: right;
}

#navigation_bar ul#navigation_bar_ul li a.active::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 15px;
	height: 15px;
	width: 89%;
	background-color: yellow;
}

#main_section {
	padding-top: 60px;
}

#main_section #activities {
	width: 100%;
}

#main_section #activities .each_activity {
	width: 25%;
	float: left;
	text-align: center;
	padding: 10px;
	padding-bottom: 40px;
	border-radius: 50%;
	/*transform: scale(1);
	transition: all 0.2s;*/
}

#main_section #activities .each_activity .each_activity_circle img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 10px 10px 0px 10px;
/*	background-color: #91bbd1
*/}
/*
#main_section #activities .each_activity .each_activity_circle i{
font-size: 206px;
}
*/
#main_section #activities .each_activity .each_activity_text{
	text-align: center;
	font-size: 40px;
	width: 100%;
}

#main_section #activities .each_activity:hover {
	cursor: pointer;
/*	transform: scale(1.2);
*/}

#main_section #activities .each_activity:hover .each_activity_text{
	color: #444;
}