* {
	margin: 0;
	padding: 0;
	font-family: "sans-serif";
	box-sizing: border-box;
}

#wrapper {

}




#navigation_bar {
	background: #40c6ed;
	height: 120px;
}

#navigation_bar ul#navigation_bar_ul {
	list-style-type: none;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
}


#navigation_bar ul#navigation_bar_ul li {
	flex: 1;
}

#navigation_bar ul#navigation_bar_ul li a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 29px;
	position: relative;
	font-size: 55px;

}





#navigation_bar ul#navigation_bar_ul li:nth-child(4){
	text-align: right;
}

#navigation_bar ul#navigation_bar_ul li a.active::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 15px;
	height: 19px;
	width: 89%;
	background-color: yellow;
}


.btn {

  	display: inline-block;
	color:#FB7367;
	width: 49vw;
	font-size: 40px;
	text-align: center;
	padding: 25px;
	background-color: white;
	border: .1px solid #39f;
	margin-bottom: 20px;
	margin-top: 20px;

}



.btn1 {

  	display: inline-block;
	color:#FB7367;
	width: 49vw;
	font-size: 40px;
	text-align: center;
	padding: 25px;
	background-color: white;
	border: .1px solid #39f;
	margin-bottom: 20px;
	margin-top: 20px;

}


/* Style the active class (and buttons on mouse-over) */


.active {
  background-color: #FB7367;
  color: white;
  cursor: pointer;
}

#navigation_bar{
	background: rgba(60,100,10,.9);
}

#navigation_bar ul#navigation_bar_ul li a.active1::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 15px;
	height: 15px;
	width: 89%;
	background-color: yellow;
}
#wrapper #header {
	display: flex;
	display: -webkit-flex;
	background: #2879D5;
	color: #fff;
	padding: 35px;
}

#wrapper #header div:nth-child(1) { 
	text-align: left; 
	flex: .5;

}#wrapper #header div button i { 
		font-size: 46px;



}
#wrapper #header div:nth-child(2) { 
	text-align: left; 
	flex: 8;
	font-size: 55px;
	align-self: center;
	margin-left: 20px;

}

#wrapper #header div:nth-child(3) { 
	text-align: left; 
	flex: 1o;
	font-size: 55px;
	align-self: center;
	margin-left: 20px;

}


#wrapper #header div button {
	outline: none;
	border: none;
	background: none;
	color: #fff;
	padding: 10px;
	font-size: 20px;
}




.tick
{
	position:relative;
	top:-200px;
	display: none;
	height: 0px;
}


.tick i
	{
		font-size: 200px;
		color: white;
		-webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */

	}


#main_section {
	padding-top: 30px;
	display: inline-block;
}

#main_section #activities {
	width: 100%;
}

#main_section #activities .each_activity {
	width: 33.33333%;
	float: left;
	text-align: center;
	padding: 5px;
	overflow: hidden;
	position: relative;
}

#main_section #activities .each_activity_active {
	position: relative;
	padding: 10px;
}

#main_section #activities .each_activity_active::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 10px;
	background: #29B9BB;
}

#main_section #activities .each_activity .each_activity_circle img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 10px 10px 0px 10px;
}

#main_section #activities .each_activity .each_activity_circle .click_check {

}

#main_section #activities .each_activity .each_activity_text{
	text-align: center;
	font-size: 39px;
}

#main_section #activities .each_activity:hover {
	cursor: pointer;
}

#main_section #activities .each_activity:hover .each_activity_text{
	color: #2849D5;
}



















#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #2879D5;
	width: 100%;
	padding: 35px;

}


#footer:hover {

	background: #247957;
	width: 100%;
	cursor: pointer;
}


#footer #footer_text {
	text-align: center;
	font-size: 50px;
	color:white;
}

#student_main {
	display: flex;
	display: -webkit-flex;
	border-bottom: 5px solid #e1e1e1;width: 95%;
}

#student_main div:nth-child(1) {
	flex: 1;
	text-align: left;
	padding: 5px;
	align-self: center;
}

#student_main div:nth-child(2) {
	flex: .9;
	text-align: right;
	padding: 5px;
	align-self: center;
	font-size: 35px;
		margin-right: 40px;

}
.fa fa-pencil:hover{
	cursor: pointer;
}

#timevalue {
	color: #39f;
}

#time_main {
	display: flex;
	display: -webkit-flex;
	border-bottom: 5px solid #e1e1e1;width: 95%;
	padding: 10px 0px;
}

#time_main div:nth-child(1) {
	flex: 1;
	text-align: left;
	padding: 5px;
	align-self: center;
}

#time_main div:nth-child(2) {
	flex: .9;
	text-align: right;
	padding: 5px;
	font-size: 35px;
	align-self: center;
		margin-right: 40px;

}

#meal_main {
	display: flex;
	display: -webkit-flex;
	border-bottom: 5px solid #e1e1e1;width: 95%;
	padding: 10px 0px;
}

#meal_main div:nth-child(1) {
	flex: 1;
	text-align: left;
	padding: 5px;
	padding-right: 20px;
	align-self: center;
}

#meal_main div:nth-child(2) {
	flex: .9;
	text-align: right;
	padding: 5px;
	align-self: center;
	font-size:35px;
		margin-right: 40px;

}

#photo_main {
	display: flex;
	display: -webkit-flex;
	border-bottom: 5px solid #e1e1e1;width: 95%;
	padding: 10px 0px;
}

#photo_main div:nth-child(1) {
	flex: 1;
	text-align: left;
	padding: 5px;
	align-self: center;
}

#photo_main div:nth-child(2) {
	flex: .9;
	text-align: right;
	padding: 5px;
	align-self: center;
	font-size:35px;
	margin-right: 40px;
}

#notes_main {
	border-bottom: 5px solid #e1e1e1;width: 95%;
	padding: 10px 0px;
}

#notes_main div {
	padding: 15px;
}

#food_details_main {
	width: 98%;
	margin: 5px auto;
	border-bottom: 5px solid #e1e1e1;width: 95%;

}
/*#food_detail{
	margin-bottom: 200px;
}*/

#food_details_main div {
	display: flex;
	display: -webkit-flex;
/*	border: .1px solid #39f;
*/	position: relative;
	margin: 5px auto;
}


button:hover{
animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

#letter1:hover > div#top-div2 {
    /* code */
}



.footer{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


i:hover{
cursor: pointer;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

