* {
	margin: 0;
	padding: 0;
	font-family: "sans-serif";
	box-sizing: border-box;
}

#wrapper {

}

#wrapper #header {
	display: flex;
	display: -webkit-flex;
	background: #2879D5;
	color: #fff;
	padding: 15px;
}

#wrapper #header div:nth-child(1) { 
	text-align: left; 
	flex: .5;
}
#wrapper #header div:nth-child(2) { 
	text-align: left; 
	flex: 8;
	font-size: 26px;
	align-self: center;
	margin-left: 20px;

}


#wrapper #header div button {
	outline: none;
	border: none;
	background: none;
	color: #fff;
	padding: 10px;
	font-size: 20px;
}

#main_section {
	padding-top: 30px;
}


#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #2879D5;
	width: 100%;
	padding: 20px;

}


#footer:hover {

	background: #247957;
	width: 100%;
	padding: 20px;
	cursor: pointer;
}


#footer #footer_text {
	text-align: center;
	font-size: 25px;
	color:white;
}

#student_main {
	display: flex;
	display: -webkit-flex;
	border-bottom: 1px solid #e1e1e1;
}

#student_main div:nth-child(1) {
	flex: 1;
	text-align: left;
	padding: 5px;
	align-self: center;
}

#student_main div:nth-child(2) {
	flex: 1;
	text-align: right;
	padding: 5px;
	align-self: center;
}
.fa fa-pencil:hover{
	cursor: pointer;
}

#timevalue {
	color: #39f;
}

#time_main {
	display: flex;
	display: -webkit-flex;
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 0px;
}

#time_main div:nth-child(1) {
	flex: 1;
	text-align: left;
	padding: 5px;
	align-self: center;
}

#time_main div:nth-child(2) {
	flex: 1;
	text-align: right;
	padding: 5px;
	align-self: center;
}

#meal_main {
	display: flex;
	display: -webkit-flex;
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 0px;
}

#meal_main div:nth-child(1) {
	flex: 1;
	text-align: left;
	padding: 5px;
	align-self: center;
}

#meal_main div:nth-child(2) {
	flex: 1;
	text-align: right;
	padding: 5px;
	align-self: center;
}

#photo_main {
	display: flex;
	display: -webkit-flex;
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 0px;
}

#photo_main div:nth-child(1) {
	flex: 1;
	text-align: left;
	padding: 5px;
	align-self: center;
}

#photo_main div:nth-child(2) {
	flex: 1;
	text-align: right;
	padding: 5px;
	align-self: center;
}

#notes_main {
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 0px;
}

#notes_main div {
	padding: 5px;
}

#food_details_main {
	width: 98%;
	margin: 5px auto;
}

#food_details_main div {
	display: flex;
	display: -webkit-flex;
	border: .1px solid #39f;
	position: relative;
	margin: 5px auto;
}

#food_details_main .food_detail button {
	display: inline-block;
	color:blue;
	width: 49vw;
	text-align: center;
	padding: 6px;
	background-color: white;
	border: .1px solid #39f;

}


#food_details_main .food_detail button:hover {

	cursor: pointer;
	background: blue;
	color: white;

}

i:hover{
cursor: pointer;
}




#potty_details_main {
	width: 98%;
	margin: 5px auto;
}

#potty_details_main div {
	display: flex;
	display: -webkit-flex;
	position: relative;
	margin: 5px auto;
}

#potty_details_main .potty_detail button {
	display: inline-block;
	color:blue;
	width: 18vw;
	text-align: center;
	padding: 6px;
	background-color: white;
	border: 1px solid #39f;
	border-radius: 20px;
	margin-right: 20px;

}
#potty_details_main .potty_detail button:nth-firstchild{
	margin-left: 20px;
}


#potty_details_main .potty_detail button:hover {

	cursor: pointer;
	background: blue;
	color: white;

}