* {
	margin: 0;
	padding: 0;
	font-family: "sans-serif";
	box-sizing: border-box;
}

#wrapper {

}

#main_header {
	background: #40c6ed;
	color: #fff;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	padding: 10px;
}

#main_header #menu {
	flex: 4;
	padding: 4px;
	padding-top: 10px;
}

#main_header #menu button[type="button"] {
	background-color: #40c6ed;
	border: none;
	outline: none;
	color: #fff;
	font-size: 26px;
	cursor: pointer;
}

#main_header #class_selection {
	flex: 3;
	padding-top: 12px;
	padding-right: 10px;
}

#main_header #class_selection select {
	padding: 6px;
	outline: none;
	border: none;
	background-color: #40c6ed;
	color: white;
	cursor: pointer;
}

#main_header  #add_students {
	flex: 6;
	text-align: right;
}

#main_header #add_students button[type="button"] {
	border: none;
	outline: none;
	background-color: #38aed1;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
	color: white;
	padding: 8px;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}

#main_header #settings {
	flex: 2;
	text-align: right;
	padding-top: 10px;
	font-size: 30px;
	cursor: pointer;
}

#navigation_bar {
	background: #40c6ed;
}

#navigation_bar ul#navigation_bar_ul {
	list-style-type: none;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
}


#navigation_bar ul#navigation_bar_ul li {
	flex: 1;
}

#navigation_bar ul#navigation_bar_ul li a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 6px;
	position: relative;
}

#navigation_bar ul#navigation_bar_ul li:nth-child(4){
	text-align: right;
}

#navigation_bar ul#navigation_bar_ul li a.active::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: yellow;
}

#main_section {
	padding-top: 60px;
}

#main_section #activities {
	width: 100%;
}

#main_section #activities .each_activity {
	width: 25%;
	float: left;
	text-align: center;
	padding: 5px;
	border-radius: 50%;
	transform: scale(1);
	transition: all 0.2s;
}

#main_section #activities .each_activity .each_activity_circle img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin: 10px 10px 0px 10px;
}


#main_section #activities .each_activity .each_activity_text{
	text-align: center;
}

#main_section #activities .each_activity:hover {
	cursor: pointer;
	transform: scale(1.2);
}

#main_section #activities .each_activity:hover .each_activity_text{
	color: #444;
}